<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net452" />
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net452" />
  <package id="ExtentReports" version="4.0.3" targetFramework="net452" />
  <package id="Globant.Selenium.Axe" version="1.0.26" targetFramework="net452" />
  <package id="Hyperlinq" version="1.0.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.9.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="RestSharp" version="106.6.7" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net452" />
  <package id="Speech.Engine" version="2.0.0.4" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="Tesseract" version="3.3.0" targetFramework="net452" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net452" />
  <package id="WebDriverManager" version="2.2.1" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net452" />
</packages>